.chapter-button {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 20px;
    margin: 10px 0;
    border: 2px solid #28a745;
    border-radius: 50px;
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s;
}

.chapter-button:hover {
    background-color: #28a745;
    color: #fff;
    .chapter-number {
        color: #28a745;
    }
}

.chapter-number {
    background-color: #fff;
    border: 2px solid #28a745;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.chapter-name {
    font-weight: bold;
}

.subchapter {
    margin-bottom: 20px;
}

.btn{
    background-color: #28a745;
    color: #fff;
    border: 2px solid #28a745;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
}

.navigation-buttons .btn {
    min-width: 150px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #28a745;
}

.info_holder{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.block_box_new_theory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 10px 0 10px 0;
    list-style-type: none;
}

.block_box_new_theory li {
    display:flex;
    flex-basis: 0;
    flex-direction: column;
    margin: 0 10px 15px 10px;
    min-width: 425px;
}

.block_box_new_theory li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
    background: #F1F1F1;
    padding: 25px 20px;
    height: 100%;
    transition: 0.5s;
}
.block_box_new_theory li a:hover{
    background: #28a745;
}
.block_box_new_theory li .block_box_title{
    font-size:20px;
    line-height:30px;
    font-weight:bold;
    text-align:center;
    width:100%;
    color:#1A1A1A;
}
.block_box_new_theory li .block_box_subtitle{
    font-size:16px;
    line-height:20px;
    font-weight:normal;
    text-align:center;
    width:100%;
    color: #F7F8F9FF;
}
.block_box_new_theory li .block_box_img{
    margin: 0 auto;
    display: block;
    height: 160px;
    width: auto;
}

.link-without-underline{
    text-decoration: none;
}

.avatar{
    height: 160px;
    width: auto;
}

.theory-fine-container {
    padding: 20px;
    margin-bottom: 12px;
    border-bottom: 2px solid #F3F3F3;
    border-radius: 4px;
    transition: 0.3s ease;
}

.theory-fine-container:hover {
    background-color: #F1F1F1;
    box-shadow: 10px 10px lightgray;
}


