{{#> layout}}
  {{#*inline "pageContent"}}
    <div class="container mt-5">
      <h1>Сталася помилка</h1>
      <h2>{{statusCode}} - {{error}}</h2>
      <p>{{message}}</p>
      {{#if stack}}
        <pre>{{stack}}</pre>
      {{/if}}
      <a href="/" class="btn">На головну</a>
    </div>
  {{/inline}}
{{/layout}}
