{{#> layout }}
  {{#*inline "pageContent"}}
    <div class="container mt-5">
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <h3>Готуєшся до теоретичного іспиту та хочеш <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display:inline" href="/tests">перевірити</a> свої знання.</h3>
        </div>
        <div class="col">
          <img src="/images/tests.jpg" class="img-thumbnail" alt="Speed Limit">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/getLicense.jpg" class="img-thumbnail" alt="Get License">
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <h3>Хочеш отримати водійське посвідчення, тоді починай вивчення теорії просто <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display:inline" href="/theory">зараз</a>.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex align-items-center justify-content-center">
          <h3>Ти відповідальний водій і бажаєш оновити свої знання, тоді <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display:inline" href="/theory">ознайомся</a> з новими правилами.</h3>
        </div>
        <div class="col">
          <img src="/images/speedLimit.jpg" class="img-thumbnail" alt="Speed Limit">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <img src="/images/pedestrian.jpg" class="img-thumbnail" alt="Pedestrian">
        </div>
        <div class="col d-flex align-items-center justify-content-center">
          <h3>Хочеш бути свідомим учасником дорожнього руху, тоді вивчи <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display:inline" href="/theory">правила</a>.</h3>
        </div>
      </div>
    </div>
  {{/inline}}
{{/layout}}