{{#> layout }}
    {{#*inline "pageContent"}}
        <!-- Meta viewport for responsiveness -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- First screen -->
        <div class="first-screen">
            <div class="background"></div>
            <img class="note" src="/images/notebook.png">
        </div>
        <!-- Main content container -->
        <div class="container mt-2" style="width: 50%; padding-top: 0px; margin-top: 0px">
            <!-- First row -->
            <div class="row">
                <!-- Left column with text -->
                <div class="col d-flex align-items-center justify-content-center" style="min-width: 250px">
                    <h3>Preparing for the theoretical exam and want to <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display: inline" href="/tests">check</a> your knowledge?</h3>
                </div>
                <!-- Right column with image -->
                <div class="col">
                    <img src="/images/tests.jpg" class="img-thumbnail" style="min-width: 250px" alt="Speed Limit">
                </div>
            </div>
            <!-- Second row -->
            <div class="row second">
                <!-- Left column with image -->
                <div class="col">
                    <img src="/images/getLicense.jpg" class="img-thumbnail" style="min-width: 250px" alt="Get License">
                </div>
                <!-- Right column with text -->
                <div class="col d-flex align-items-center justify-content-center" style="min-width: 250px">
                    <h3>Want to get a driver's license? Start learning the theory <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display: inline" href="/theory">now</a>.</h3>
                </div>
            </div>
            <!-- Third row -->
            <div class="row">
                <!-- Left column with text -->
                <div class="col d-flex align-items-center justify-content-center" style="min-width: 250px">
                    <h3>Are you a responsible driver and want to update your knowledge? Then familiarize yourself with the <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display: inline" href="/theory">new rules</a>.</h3>
                </div>
                <!-- Right column with image -->
                <div class="col">
                    <img src="/images/speedLimit.jpg" class="img-thumbnail" style="min-width: 250px" alt="Speed Limit">
                </div>
            </div>
            <!-- Fourth row -->
            <div class="row second">
                <!-- Left column with image -->
                <div class="col">
                    <img src="/images/pedestrian.jpg" class="img-thumbnail" style="min-width: 250px" alt="Pedestrian">
                </div>
                <!-- Right column with text -->
                <div class="col d-flex align-items-center justify-content-center" style="min-width: 250px">
                    <h3>Want to be a conscious participant in road traffic? Learn the <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" style="display: inline" href="/theory">rules</a>.</h3>
                </div>
            </div>
        </div>
        <!-- JavaScript for scrolling animation -->
        <script>
            document.addEventListener('scroll', function() {
                const rows = document.querySelectorAll('.row');
                const windowHeight = window.innerHeight;

                rows.forEach(row => {
                    const rowTop = row.getBoundingClientRect().top;
                    if (rowTop < windowHeight - 50) {
                        row.classList.add('visible');
                    }
                });
            });
        </script>
    {{/inline}}
{{/layout}}
