{{#> layout }}
  {{#*inline "pageContent"}}
    <section class="d-flex flex-column justify-content-center align-items-center h-100">

        <section class="content-section" style="width: 700px;">
          <div class="row">
            <div class="col-4">
              <div class="profile-pic-container my-3" style="margin-left: 10px">
                <img class="avatar" src="{{currentUser.avatar}}" alt="You">
              </div>
            </div>

            <div class="col-8 d-flex flex-column justify-content-evenly">
              <div>
                <div id="currentUserLogin" class="h2 my-0">{{ currentUser.user_login }}</div>
                <div class="text-secondary">{{ currentUser.user_email }}</div>
              </div>
              <div class="d-flex">
                <button id="changeProfileImgButton" class="btn btn-outline-success me-2" >Змінити аватарку</button>
                <form action="auth/logout" method="post">
                  <button type="submit" class="btn btn-success">Вийти</button>
                </form>
              </div>
            </div>
          </div>
        </section>

        <section class="content-section p-4 my-2" style="width: 700px;">
          <div class="d-flex">
            <a class="btn btn-success me-2" href="/tests/history">Історія тестів</a>
<!--            <a class="btn btn-success" href="/auth/registration">Статистика</a>-->
          </div>
        </section>
    </section>


    <div class="modal fade" id="imageSelectionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Вибір аватарки</h4>
            </div>
            <div class="d-flex flex-column text-center" id="imageContainer">
              <!-- Images will be loaded here -->
            </div>
          </div>
        </div>
      </div>
    </div>

  {{/inline}}
{{/layout}}