{{#> layout }}
  {{#*inline "pageContent"}}
    <div style="color: #1A1A1A; margin-left: 20px; font-size: 17px">
      <a class="link-without-underline" href="/" style="color: #1A1A1A">Головна</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
      </svg>
      <span style="color: green; font-weight: bold;">Тести</span>
    </div>
    <div class="container" style="justify-content: center; padding-top: 10px">
      <ul class="block_box_new_theory" style="justify-content: center">
        <li>
          <a class="link-without-underline" href="tests/themes">
            <img src="/images/book.png" class="block_box_img">
            <div class="block_box_title">Тести за темами</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="tests/exam">
            <img src="/images/isput.png" class="block_box_img">
            <div class="block_box_title">Тест-іспит</div>
          </a>
        </li>
      </ul>
    </div>
  {{/inline}}
{{/layout}}
