{{#> layout }}
  {{#*inline "pageContent"}}
    <div class="info_holder">
      <ul class="block_box_new_theory">
        <li>
          <a class="link-without-underline" href="/theory/rules">
            <img src="/images/book.png" class="block_box_img">
            <div class="block_box_title">Тести за темами</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="/rules">
            <img src="/images/isput.png" class="block_box_img">
            <div class="block_box_title">Тест-іспит</div>
          </a>
        </li>
      </ul>
    </div>
  {{/inline}}
{{/layout}}
