{{#> layout }}
  {{#*inline "pageContent"}}
  <h1>Тести з ПДР!!!!!!!!!!!!!!!!</h1>
  <p>Перевірте свої знання, пройшовши наші тести.</p>
  <!-- Додайте контент для тестів тут -->
  {{/inline}}
{{/layout}}
