{{#> layout}}
  {{#*inline "pageContent"}}
    <div class="container" style="justify-content: center">
      <ul class="block_box_new_theory" style="justify-content: center">
        <li>
          <a class="link-without-underline" href="/theory/rules">
            <img src="/images/pdr.png" class="block_box_img">
            <div class="block_box_title">Правила дорожнього руху</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="/theory/road-signs">
            <img src="/images/sing.png" class="block_box_img">
            <div class="block_box_title">Дорожні знаки</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="/theory/road-markings">
            <img src="/images/road.png" class="block_box_img">
            <div class="block_box_title">Дорожня розмітка</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="/rules">
            <img src="/images/svitlofor.png" class="block_box_img">
            <div class="block_box_title">Світофор</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="/rules">
            <img src="/images/police.png" class="block_box_img">
            <div class="block_box_title">Регулювальник</div>
          </a>
        </li>
        <li>
          <a class="link-without-underline" href="/rules">
            <img src="/images/fine.png" class="block_box_img">
            <div class="block_box_title">Штрафи</div>
          </a>
        </li>
      </ul>
    </div>
  {{/inline}}
{{/layout}}