{{#> layout}}
  {{#*inline "pageContent"}}
    <h1>Теорія ПДР</h1>
    <p>Тут ви можете знайти всі необхідні матеріали для вивчення правил дорожнього руху.</p>
    <!-- Додайте контент для вивчення ПДР тут -->
  {{/inline}}
{{/layout}}